* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$main-text-color: #313341;
$secondary-text-color: #9a938c;

body {
  font-family: system-ui;
  font-size: 16px;
  background: linear-gradient(118deg, #FEE3BC 23.22%, #F39876 99.52%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

